body
{
    margin: 0;
    padding: 0%;
    background-color: #97FFF4;
}

.introduction
{
    background-color: #C5FFF8;
}

.myImg
{
    border-radius: 50%;
}

p
{
    font-family: 'Lato', sans-serif;
    color: #607274;
}

.feature-icon
{
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}

.skills
{
    background-color: #BEFFF7;
}

.interestImg
{
    width: 4rem;
    height: 4rem;
}

.interests
{
    background-color: #B6FFFA;
}

.contact
{
    background-color:#97FFF4;
}

.expert
{
    color: blue;
}
